<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link href="/static/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        <h1>{{title}}</h1>
    </main>
    <footer>Copyright &copy; 2023 - <span id="tahun"></span> {{app_name}}. All rights reserved. {{app_versi}}</footer>
    <script src="/static/script.js"></script>
</body>

</html>